@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1732453023264') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yiwen:before {
  content: "\e6da";
}

.icon-cuowu:before {
  content: "\e613";
}

.icon-zhengque:before {
  content: "\ec6b";
}

